* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, #root {
  height: 100%;
}



.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: black;
  color: white;
  transition: color 0.5s ease, background-color 0.7s ease;
}

.logo {
  font-size: 30px;
  font-family: 'Bangers', sans-serif;
  color: rgb(222, 216, 36);
  font-weight: bold;
  transition: color 0.5s ease;
}

.headerbu {
  display: flex;
  gap: 25px;
}

.headerbu div {
  font-size: 18px;
  cursor: pointer;
  color: inherit;
  transition: color 0.3s ease;
}

.headerbu div:hover {
  color: #ffb703;
}







.main-content {
  flex: 1;
  margin-top: 100px;
  padding-bottom: 40px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 20px;
}

.boxes div {
  height: 500px;
  width: 300px;
  background-color: rgb(119, 227, 168);
  border-radius: 20px;
  transition: transform 0.3s ease, background-image 0.3s ease;
}

.boxes div:hover {
  transform: scale(1.05);
  background-color:rgb(145, 121, 121);
}







.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: black;
  font-size: medium;
  padding: 20px 0;
}

.footer-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.footer-links li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: large;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: gray;
}

.social-media {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.social-media a {
  color: whitesmoke;
  font-size: large;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: gray;
}

@media (max-width: 600px) {
  .footer-content {
    padding: 1rem;
  }

  .footer-links,
  .social-media {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .boxes {
    flex-direction: column;
    gap: 40px;
  }
}
